<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADRaffy.ENSNormalize" version="0.1.5" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Nethereum.ABI" version="5.0.0" manuallyInstalled="true" />
  <package id="Nethereum.Accounts" version="5.0.0" />
  <package id="Nethereum.BlockchainProcessing" version="5.0.0" />
  <package id="Nethereum.Contracts" version="5.0.0" manuallyInstalled="true" />
  <package id="Nethereum.Hex" version="5.0.0" />
  <package id="Nethereum.JsonRpc.Client" version="5.0.0" />
  <package id="Nethereum.JsonRpc.RpcClient" version="5.0.0" manuallyInstalled="true" />
  <package id="Nethereum.KeyStore" version="5.0.0" manuallyInstalled="true" />
  <package id="Nethereum.Merkle.Patricia" version="5.0.0" />
  <package id="Nethereum.Model" version="5.0.0" />
  <package id="Nethereum.RLP" version="5.0.0" />
  <package id="Nethereum.RPC" version="5.0.0" manuallyInstalled="true" />
  <package id="Nethereum.Signer" version="5.0.0" />
  <package id="Nethereum.Signer.EIP712" version="5.0.0" />
  <package id="Nethereum.Util" version="5.0.0" manuallyInstalled="true" />
  <package id="Nethereum.Util.Rest" version="5.0.0" />
  <package id="Nethereum.Web3" version="5.0.0" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="11.0.2" />
  <package id="Portable.BouncyCastle" version="1.9.0" />
</packages>